/* font-family: "Fraunces", serif;
font-family: "Barlow", sans-serif; */
/* #3EBEFF */

nav {
  background-color: #3ebeff;
  display: flex;
  justify-content: space-between;
  font-size: 0.1px;
  align-items: center;
  padding: 1% 2%;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 10vh;
  box-sizing: border-box;
}

h2 {
  margin: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 2px;
  cursor: pointer;
  color: white;
}

ul {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  align-items: center;
}

ul li {
  list-style-type: none;
  display: inline-block;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  cursor: pointer;
  color: white;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

#contact {
  font-family: "Fraunces", serif;
  color: black;
  background: white;
  padding: 10px 17px;
  border-radius: 20px;
}

.mobile-menu {
  display: none;
}

.menu-icon {
  height: 20px;
  width: 20px;
  display: none;
  overflow: visible;
}

@media screen and (max-width: 1024px) {
  ul {
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  ul {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  ul {
    display: none;
  }

  .mobile-menu {
    position: absolute;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 20px;
    padding-bottom: 25px;
    box-sizing: border-box;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: white;
    clip-path: polygon(
      100% 0%,
      91% 10%,
      40% 11%,
      19% 11%,
      0% 11%,
      0% 39%,
      0% 73%,
      0% 100%,
      36% 100%,
      61% 100%,
      100% 100%,
      100% 75%,
      100% 46%,
      100% 26%
    );
  }
  .mobile-menu li {
    color: black;
  }
  #contact {
    background: hsl(51, 100%, 49%);
  }
  nav .menu-icon {
    display: block;
  }
  span {
    height: 20px;
    width: 20px;
    overflow: visible;
    color: white;
  }
  nav {
    padding: 5%;
  }
  h2 {
    font-size: 1.5rem;
  }
}
